/*!----BODY Y MAIN------*/

.body-contacto{
min-height: 100vh;
display: flex;
flex-direction: column;
}

.body-contacto main{
flex: 1;
}

main {
display: grid;
grid-template-columns: 3fr 1fr;
gap: 5px;
margin: 0 auto;
max-width:auto;
padding: 60px;
width: 100%;
margin-left: 150px;
}

/* aside */

aside {
position: fixed;
right: 15px;
top: 365px;
width: 200px;
box-sizing: border-box;
background: #333;
color: white;
padding: 5px;
border-radius: 5px;
box-shadow: 0 20px 6px 15px rgba(0, 0, 0, 0.308);
}

aside h3 {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}

aside ul {
list-style: none;
padding: 0;
}

aside ul li {
margin: 0px;
}

aside ul li a {
color: white;
text-decoration: none;
padding: 5px 5px;
display: block;
border-radius: 5px;
transition: background 0.3s;
font-size: 15px;
text-align: center;
}

aside ul li a:hover{
background: #555;
}

/* Estilos de los títulos */
.contenedor-titulo {
    text-align: center;
    padding: 20px;
    width: auto;
}
.novedad {
    color: #ffffff;
    background-color: #333;
    font-size: 3.5rem;
    font-family: sans-serif;
    box-shadow: 0 15px 25px rgb(33, 36, 222);
    animation-name: vanishIn;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.contenedor-subtitulo{
text-align: center;
padding: 40px;
}
.emmys {
font-family: sans-serif;
color: #ffffff;
background-color: #333;
font-size: 2.5rem;
font-family: sans-serif;
box-shadow: 0 15px 25px rgb(37, 114, 230);
animation-name: twisterInDown;
animation-duration: 2s;
animation-fill-mode: both;
}
/* Contenedor principal con grid */
.contenedor-general {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 105px;
margin-top: 30px;
}

/* Estilos para los elementos individuales (.items) */
.items {
background-color: $color-fondo-oscuro;
padding: 40px 175px;
border-radius: 8px;
text-align: left;
box-sizing: border-box;
margin-top: 30px;
box-shadow: $sombra-caja;

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 400px;
    border-radius: 15px;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 3.2em;
    font-family: 'Impact', sans-serif;
    color: $color-brillo-peacemaker;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

p {
    text-align: justify;
    font-family: "Cinzel Decorative", serif;
    font-size: 22px;
    color: $color-texto-principal;
    margin-bottom: 15px;
}

b {
    color: $color-resaltado-negrita;
    font-weight: bold;
}

h3 {
    color: $color-resaltado-negrita;
    font-weight: bold;
}

small b {
    text-align: left;
    color: $color-texto-small;
}

  /* Estilos para las calificaciones por estrellas, usando anidamiento */
.calificacion-estrellas {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 15px;

    .bi {
    font-size: 1.5rem;
    &:hover {
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out;
    }
    }

    .bi-star-fill, .bi-star-half {
    color: $color-estrellas;
    }

    .bi-star {
    color: transparent;
    -webkit-text-stroke: 1px $color-estrellas;
    }
}

  /* Ajuste para las calificaciones de 4 fantasticos e it */
.calificacion-estrellas-4fantasticos, .calificacion-estrellas-it {
    justify-content: flex-end;
    gap: 5px;
}  
  /* Uso de selectores anidados para las clases específicas con 'b' */
.text-peacemaker b,
.text-merlina b,
.text-fantastico b,
.it-text b {
    color: $color-resaltado-negrita;
    font-weight: bold;
}
}
.contenedor-tituloPeliculas {
    text-align: left;
    padding: 45px;
    width: 450px;
    height: 25px;
    animation: boingInUp 1s ease-in-out forwards;
}

.PeliculasNew {
    color: #aa0808;
    background-color: #333;
    font-size: 4.5rem;
    font-family: sans-serif;
    box-shadow: 0 15px 25px rgb(255, 252, 78);
    padding: 10px 20px;
}

.contenedor-subtitulo3{
display: flex;
justify-content: center;
padding: 45px;
animation: tinDownIn 1s ease-in-out forwards;
}

.estrenoPeli{
    color: #fffdff;
    background-color: #333;
    font-size: 1.5rem;
    font-family: sans-serif;
    box-shadow: 0 15px 25px rgb(111, 0, 255);
    text-align: center;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 8px;
    font-weight: bold;
}

/* Estilos de películas */
.items-peliculas{
    background-color: #202020;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: left;
    box-sizing: border-box;
    margin-top: 30px;
    box-shadow: 0 15px 15px 25px rgba(0, 0, 0, 0.5);
    width: 650px;
    height: fit-content;
}
.items-peliculas h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 3.2em;
    font-family: 'Impact', sans-serif;
    color: #ffd700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.items-peliculas h3{
    text-align:left;
    margin-bottom: 10px;
}