/* Estilos para las imágenes dentro del carrusel */
.carousel-caption h3 {
    color: $color-principal;
}

/* Contenedor del carrusel */
#carouselExampleCaptions {
    width: 65%;
    max-width: 1140px; /* Ancho máximo para el carrusel */
    margin: 0 auto;    /* Centrar horizontalmente */

    /* Anidamiento para organizar los estilos internos */
    .carousel-item {
        height: 500px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    /* Estilos para los controles del carrusel */
    .carousel-control-prev,
    .carousel-control-next {
        width: 5%;
        background-color: $color-overlay;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $color-overlay-hover;
        }
    }
}

.carousel-item.active .carousel-caption {
    animation: slideInUp 0.6s ease-in-out;
}

// ------ CARRUSEL --------
#carouselExampleCaptions {
    width: 65%;
    margin: 0 auto;
    max-width: 1140px;

    .carousel-item {
        height: 500px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .carousel-caption {
        padding: 1rem;
        border-radius: 0.5rem;

        h3 {
            color: $color-caption-carrusel;
        }
    }

    .carousel-item.active .carousel-caption {
        @include slideInUp;
        animation: slideInUp 0.6s ease-in-out;
    }

    .carousel-control-prev, .carousel-control-next {
        width: 5%;
        background-color: rgba(0, 0, 0, 0.4);
        transition: background-color 0.3s ease;

        &:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}