/*----- COLORES ---------*/
$color-primario-claro: #ffffff;
$color-primario-oscuro: #222;
$color-secundario-oscuro: #333;
$color-acento-boton: #007bff;
$color-hover-boton: #0c0c0c;
$color-resaltado-negrita: #ff4500;
$color-principal: #9e0a2f;
$color-brillo-peacemaker: #ffd700;
$color-estrellas: #ffc107;
$color-enlace-redes: #1da1f2;
$color-fondo-oscuro: #202020;
$color-fondo-principal: #808080;
$color-texto-principal: #e0e0e0;
$color-plomo-claro: #ccc;
$color-plomo-footer: #bbb;
$color-rojo-claro: #9c0000;
$color-sombras: rgba(0, 0, 0, 0.5);
$color-overlay: rgba(0, 0, 0, 0.4);
$color-overlay-hover: rgba(0, 0, 0, 0.6);
$sombra-caja: 0 15px 15px 25px rgba(0, 0, 0, 0.5);

/*------------- FUENTES --------------*/
$fuente-principal: "Nunito", sans-serif;
$fuente-titulo-peacemaker: 'Impact', sans-serif;
$fuente-parrafo-items: "Cinzel Decorative", serif;

/*-TAMANIOS y ESPACIADO */

$padding-header: 25px 40px;
$padding-enlace: 8px 15px;
$gap-menu: 20px;
$padding-footer: 20px 10px;
$gap-flex: 10px;

